# NOTE: only pick the values you want to change, most of these already have sensible defaults

DATABASE_URL=""

# to get a string for the secret_key:
# openssl rand -hex 32
# WARN: The secret key must always be set
SECRET_KEY = ""
ALGORITHM = ""
ACCESS_TOKEN_EXPIRE_MINUTES = 
